/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../Attendance/fonts/open-sans-v27-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../Attendance/fonts/open-sans-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../Attendance/fonts/open-sans-v27-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../Attendance/fonts/open-sans-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('../Attendance/fonts/open-sans-v27-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../Attendance/fonts/open-sans-v27-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''), url('../Attendance/fonts/open-sans-v27-latin-700italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../Attendance/fonts/open-sans-v27-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  color: #333;
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
  overflow: hidden;
}

article {
  display: flex;
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}
aside {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 100%;
  padding: 20px;
  box-shadow: -5px 0 10px rgb(0 0 0 / 10%);
  border-left: 1px solid #ccc;
}
table {
  width: 100%;
}
.count {
  font-size: 40px;
  font-weight: bold;
  margin: 1em 0;
}
.controls {
  flex: 1 1 auto;
}
.controls .input-field {
  font-size: 30px;
}
.time {
  font-family: monospace;
}
h1 {
  padding: 0;
  line-height: 1;
}

#app {
  flex-direction: row;
  overflow: hidden;
}
.offline {
  background: red;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1em;
}

.member-list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  padding: 5px;
  background: #eee;
}
.member {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  font-size: 12px;
  box-shadow: inset 0 0 1px #fff;
  border-radius: 0.5em;
  justify-content: space-between;
  line-height: 1.1em;
}
.member label {
  margin-right: 0.5em;
}
.member-name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0.5em;
  line-height: 1.1em;
}
.member-id {
  font-size: 12px;
}
.member-hours {
  font-size: 12px;
}
.member label {
  opacity: 0.5;
}
.member.checkedIn {
  background: #0074d9;
  color: #fff;
}

.input-field button {
  display: block;
  width: 100%;
}
